header {
  background-color: #f54e42;
  padding: 0.5px;
  text-align: center;
}

aside {
  background-color: #f54e42;
  text-align: center;
}

body {
	  background-color: #f54e42;
  text-align: center;
}

gallery {
	  background-color: #f54e42;

}

.prev-button {
  background-color: #03befc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-button {
  background-color: #03befc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

h2 {
	  background-color: #f54e42;

}

.button-container {
	  background-color: #f54e42;
}


footer {
	  background-color: #f54e42;

  text-align: center;
  color: #03befc;
  padding: 0.5px;
}
